# Exclude files and directories
__pycache__
.env

# Terraform
/terraform/.terraform

/terraform/container_app/.terraform
/terraform/container_app/.terraform.lock.hcl
/terraform/container_app/.terraform.tfstate.lock.info
/terraform/container_app/terraform.tfstate
/terraform/container_app/terraform.tfstate.backup

/terraform/initial_setup_once/.terraform
/terraform/initial_setup_once/.terraform.lock.hcl
/terraform/initial_setup_once/.terraform.tfstate.lock.info
/terraform/initial_setup_once/terraform.tfstate
/terraform/initial_setup_once/terraform.tfstate.backup
/terraform/initial_setup_once/terraform.tfvars