# Exclude files and directories
__pycache__
.env

# Terraform
/terraform/.terraform

/terraform/global_infra/.terraform
/terraform/global_infra/.terraform.lock.hcl
/terraform/global_infra/.terraform.tfstate.lock.info
/terraform/global_infra/terraform.tfstate
/terraform/global_infra/terraform.tfstate.backup
/terraform/global_infra/terraform.tfvars

/terraform/container_app/.terraform
/terraform/container_app/.terraform.lock.hcl
/terraform/container_app/.terraform.tfstate.lock.info
/terraform/container_app/terraform.tfstate
/terraform/container_app/terraform.tfstate.backup
/terraform/container_app/terraform.tfvars

/terraform/initial_setup/.terraform
/terraform/initial_setup/.terraform.lock.hcl
/terraform/initial_setup/.terraform.tfstate.lock.info
/terraform/initial_setup/terraform.tfstate
/terraform/initial_setup/terraform.tfstate.backup